body {
    padding: 5px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.pItemOrder {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 3px;
    text-align: left;
}

.itemOrder {
    padding: 10px;
    margin: auto;
    text-align: left;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    background-color: #fff;
}

.pDiscount {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.discountP {
    padding: 15px;
    margin: auto;
    text-align: left;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    background-color: #fff;
}

input[type=checkbox] {
    transform: scale(1.5)
}

.summarize {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.summarizeP {
    padding: 15px;
    margin: auto;
    text-align: left;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    background-color: #fff;
}

.BTN{
    text-align: center;
}

.viewBtn {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    background-color: grey;
    border-radius: 7px;
    color: #fff ;
    text-align: center;
    border-color: black;
  }
  
  .calculateBtn {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    background-color: #33B864;
    border-radius: 7px;
    color: #fff ;
    text-align: center;
    border-color: black;
  }

  .cmdBtn {
    float: right;
    display: flex;
    width: 35px;
    height: 35px;
    font-size: 25px;
    text-align: center;
    background-color: #fff;
  }
  
  button {
    font-size: 22px;
    background-color: #fff;
    border-radius: 7px;
    border-color: black;
  }